.navbar {
  background: linear-gradient(90deg,#0a3d62 0%, #0a3d62 100%);
  height: 80px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-left: 20px;*/
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  /*margin-right:20px;*/
  color: #fff;
  justify-self:start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  height: 80px;
  align-items: center;
}
.navbar-logo-img {
  height:80%;
  width: auto;
}

.navbar-nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  height:80px;
}

.navbar-nav-item {
  height: 80px;
}

.navbar-nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}

.navbar-nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.navbar-nav-links-mobile {
  display: none;
}

.navbar-menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-NavbarItems {
    position: relative;
  }
  .navbar{
    justify-content:space-between;
  }
  .navbar-logo{
    padding-left: 2.5rem;
  }
  .navbar-nav-menu {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar-nav-menu.active {
    background:#0a3d62;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar-nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar-nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }
  .navbar-menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .navbar-nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    font-family: "PT Sans", sans-serif;
  }

  .navbar-nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
