.services-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    align-items: center;
    justify-content:center;
    position: relative;
    text-align: center;
    padding: 4rem;
}
.services-row {
    margin-right: -15px;
    margin-left: -15px;
    width: 80%;
}
.services-col-md-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    min-width: 50%;
    
}
.services-service-desc{
    margin: 10px 10px 20px;
    margin-bottom: 40px;
}
.services-title {
    color: #0a3d62;
    font-size: 50px;
    padding-bottom: 0.5rem;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;

}

.services-subtitle {
    color: #0a3d62;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;

}
.services-text {
    padding: 0.75rem 0 0.75rem;
    color: #252e48;
    font-size: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

.services-section-title{
	margin-bottom: 70px;
    width: 70%;
}

.services-icon{
    font-size: 42px;
	min-width: 90px;
	height: 90px;
    padding: 25px 0;
	background:linear-gradient(to right, #02af64 0%, #0a3d62 80%);/*#0a3d62 0%, #0a3d62 40%);*/
	border-radius: 50%;
	color: #fff;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}

@media (min-width: 992px) {
    .services-col-md-4{
        float: left;
        width: 33.33333333%;
    }
    
}

@media screen and (max-width: 992px) {
    .services-title {
        font-size: 35px;
    }
    .services-section-title{
        margin-bottom: 70px;
        width: 100%;
    }
    .services-block {
        padding: 2rem;
    }
}